In [1]:
import pandas as pd

In [2]:
#importing dataset one
PlaneFeatures=pd.read_excel('/Users/hlind/Downloads/PlaneFeatures.xlsx')

In [3]:
#importing dataset two
PlaneCandidates=pd.read_excel('/Users/hlind/Downloads/PlaneCandidates.xlsx')

In [5]:
#checking data
PlaneFeatures.head()

,adshex,duration1,duration2,duration3,duration4,duration5,boxes1,boxes2,boxes3,boxes4,...,steer3,steer4,steer5,steer6,steer7,steer8,flights,squawk_1,observations,type
0,A,0.120253,0.075949,0.183544,0.335443,0.284810,0.088608,0.044304,0.069620,0.120253,...,0.270550,0.344090,0.097317,0.186651,0.011379,0.009426,158,0,11776,GRND
1,A00000,0.211735,0.155612,0.181122,0.198980,0.252551,0.204082,0.183673,0.168367,0.173469,...,0.240732,0.356314,0.116116,0.159325,0.012828,0.013628,392,0,52465,TBM7
2,A00002,0.517241,0.103448,0.103448,0.103448,0.172414,0.862069,0.137931,0.000000,0.000000,...,0.174954,0.244015,0.034070,0.202578,0.021179,0.068140,29,0,1086,SHIP
3,A00008,0.125000,0.041667,0.208333,0.166667,0.458333,0.125000,0.083333,0.125000,0.166667,...,0.202665,0.380515,0.094669,0.182904,0.014706,0.020221,24,0,2176,PA46
4,A0001E,0.100000,0.200000,0.200000,0.400000,0.100000,0.100000,0.000000,0.100000,0.400000,...,0.249206,0.326984,0.112698,0.206349,0.012698,0.011111,10,1135,630,C56X

In [6]:
PlaneCandidates.head()

,other,surveil,adshex,squawk_1,name,reg
0,0.0750,0.9250,A4FB3C,5310,CITY OF MESA ARIZONA,N42WB
1,0.0995,0.9005,A13098,4415,NaN,NaN
2,0.1010,0.8990,A7D925,230,ORANGE COUNTY SHERIFFS DEPARTMENT RNSP,N6045C
3,0.1085,0.8915,A63E52,5306,CHAPARRAL AIR GROUP,N501GW
4,0.1230,0.8770,A1B621,5240,MIDWEST AIRMOTIVE INC,N2092S

In [8]:
#should you MERGE or APPEND
Planes=pd.merge(PlaneFeatures, PlaneCandidates, on='adshex')

In [9]:
Planes.head(10)

,adshex,duration1,duration2,duration3,duration4,duration5,boxes1,boxes2,boxes3,boxes4,...,steer8,flights,squawk_1_x,observations,type,other,surveil,squawk_1_y,name,reg
0,A00324,0.000000,0.000000,0.000000,0.235294,0.764706,0.000000,0.735294,0.176471,0.029412,...,0.002393,34,5347,21310,C208,0.4780,0.5220,5347,J A AERO INC,N10JA
1,A005D8,0.241379,0.137931,0.137931,0.103448,0.379310,0.241379,0.068966,0.310345,0.206897,...,0.016553,29,5011,8095,unknown,0.1370,0.8630,5011,NaN,NaN
2,A008A4,0.279570,0.112903,0.134409,0.118280,0.354839,0.263441,0.263441,0.284946,0.134409,...,0.025235,186,0,19576,C208,0.3105,0.6895,0,COSTAR FIELD RESEARCH LLC,N101CG
3,A00948,0.090909,0.545455,0.272727,0.090909,0.000000,0.272727,0.545455,0.181818,0.000000,...,0.006106,11,0,1474,unknown,0.5470,0.4530,0,TAUN-TAUN TRANSPORTATION LLC,N101JW
4,A00A41,0.000000,0.536585,0.195122,0.073171,0.195122,0.695122,0.304878,0.000000,0.000000,...,0.009820,82,204,20264,RV3,0.3730,0.6270,204,VERTICAL AIR INC,N101UV
5,A0371C,0.563291,0.272152,0.075949,0.044304,0.044304,0.841772,0.094937,0.025316,0.018987,...,0.036995,158,0,3487,C208,0.5370,0.4630,0,ARNE AVIATION LLC,N1128L
6,A067A2,0.461538,0.153846,0.153846,0.076923,0.153846,0.615385,0.307692,0.000000,0.076923,...,0.012085,13,5356,662,PC12,0.2355,0.7645,5356,STRAIGHT FLIGHT NEVADA COMMERCIAL LEASING LLC,N125PZ
7,A0761C,0.310811,0.557432,0.081081,0.043919,0.006757,0.702703,0.287162,0.003378,0.000000,...,0.053030,296,0,9787,BE9L,0.5325,0.4675,0,SKY LIFT AVIATION LLC,N129LA
8,A07BEE,0.059347,0.050445,0.106825,0.100890,0.682493,0.077151,0.115727,0.721068,0.077151,...,0.009532,337,1200,259540,GA8,0.5275,0.4725,1200,NaN,NaN
9,A07CB3,0.411765,0.176471,0.176471,0.058824,0.176471,0.176471,0.235294,0.176471,0.176471,...,0.055258,17,5372,561,BE20,0.5470,0.4530,5372,OSCAR CHARLIE II LLC,N130RL